html,
body {
    height: 100%;
}

#editor {
    width: 100%;
    height: 100%;
}

.iconCardIcon {
    height: 50px;
}

#iconOffcanvas {
    height: 60vh;
}

#titleText {
    font-family: 'Roboto Mono', monospace;
    font-size: 28px;
}

.hljs-ln-n {
    padding-right: 0.5em;
}


.grid line {
    stroke: #AAAAAA;
    stroke-opacity: 0.7;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

#contAutoSave *,
#contAutoUpdate * {
    cursor: pointer;
}

.jq-toast-wrap {
    width: 500px;
}

.icon-family,
.icon-full,
.icon-name {
    cursor: pointer;
}

.render *:not(code, pre, code *, pre *) {
    font-family: 'Roboto', sans-serif;
}

.render .link {
    fill: #0000EE;
    text-decoration: underline;
}

.render .metadata {
    fill: #0000EE;
    cursor: pointer;
}

.tooltip-inner{
    max-width: 800px;
}

.metadata-table th {
    text-align: right;
    white-space: nowrap;
}

.metadata-table td {
    text-align: left;
}

.watermark {
    font-weight: bold;
    text-anchor: middle;
    fill: #0000EE;
}