html {
        overflow-y:scroll;
        height: 100vh;
}
body {
        padding-top:1vh;
        height: 100vh;
        font-size: 12px;
}

.ace_editor {
      border: 1px solid lightgray;
      height: 95vh;
      width: 100%;
}
.drawing {
      height: 95vh;
      width: 100%;
}
.jsoneditor .menu {
      background-color: #D5DDF6;
      border-bottom: 1px solid #97B0F8;
    }


.btn-black .badge {
  color: #000000;
  background-color: #FFFFFF;
}

.axisNone line{
  stroke: #AAAAAA;
}

.axisNone path{
  stroke: none;
}

.axisNone text{
  fill: #AAAAAA;
}
