.notes * {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1em;
}

.notes h1 {
  font-size: 2em;
}

.notes h2 {
  font-size: 1.5em;
}

.notes h3 {
  font-size: 1.17em;
}

.notes h4 {
  font-size: 1.12em;
}

.notes h5 {
  font-size: .83em;
}

.notes h6 {
  font-size: .75em;
}

.notes pre {
  font-size: 1em;
  margin-bottom: 0;
}

.notes ol,
ul {
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0em 0em 0em 2em;
}

.notes p {
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.notes code {
  margin-left: -2px;
  padding: .15em .15em;
  font-size: 1em;
}

.notes table {
  width: 100%;
}

.notes pre code.hljs {
  padding: 3px 5px;
  overflow-x: hidden;
  
  font-family: 'Roboto Mono', sans-serif !important;
}