<!DOCTYPE html>
<html>

<head>
  <!-- META -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
  <meta name="robots" content="index,follow">
  <meta name="description" content="Decent looking diagrams for engineers">

  <base href="./">

  <link rel="icon" type="image/png" href="res/images/radial.png" />
  <base href="/">

  <title>Decent looking diagrams for engineers</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha512-6MXa8B6uaO18Hid6blRMetEIoPqHf7Ux1tnyIQdpt9qI5OACx7C+O3IVTr98vwGnlcg0LOLa02i9Y1HpVhlfiw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"
    integrity="sha512-4uGZHpbDliNxiAv/QzZNo/yb2FtAX+qiDb7ypBWiEdJQX8Pugp8M6il5SRkN8jQrDLWsh3rrPDSXRf3DwFYM6g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="res/css/app.css">
  <link rel="stylesheet" href="res/css/notes.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"
    integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-animate/1.8.3/angular-animate.min.js"
    integrity="sha512-Vhup4/4s+jnmiFsp1Sg1/6jXncRbIBc+fKemYjq1n+nEXthmeASyaWnClWsAV5Sas7WbLMLNYYHw6TxwQE4oPQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-ace/0.2.3/ui-ace.min.js"
    integrity="sha512-j/RK8zpZYB6OYdcpxSYqFm9GjuVHiHfLC6FdpK9/Xsq2FGahNB3wBAl1PqdzXoiZ5XSbsfSaxBqWYR8/3ncl6g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
    integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha512-iztkobsvnjKfAtTNdHkGVjAYTrrtlC7mGp/54c40wowO7LhURYl3gVzzcEqGl/qKXQltJ2HwMrdLcNUdo+N/RQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap-tpls.min.js"
    integrity="sha512-UuO+5QUgDl1BqZMcaxT5CDn045C9oQb7r9wEp/ldtujnaxfiiY8ktimeR4w6BohcjOcp/cZ2S/5CTC0HcUDJBA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/3.14.1/js-yaml.min.js"
    integrity="sha512-JQlOhDTypJSgnt1e3jAF1nxzCSxPcvGF6huciW7zILxyV5wr1zYx9wTsT8D3B0FD9Fu9/UcynkpuK6o7mZp0ZQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"
    integrity="sha512-RJJ1NNC88QhN7dwpCY8rm/6OxI+YdQP48DrLGe/eSAd+n+s1PXwQkkpzzAgoJe4cZFW2GALQoxox61gSY2yQfg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.3.0/showdown.min.js"
    integrity="sha512-Y6V2Rql5jIHKCjgae9pQYnqAZ5R1cTU0USHwk+9K8S1UTgxO3GX9nfzbW5WD3k5dVEsaTcNwXnAP7P6eN0bJfQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/showdown-prettify@1.3.0/dist/showdown-prettify.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.js"
    integrity="sha512-/9uQgrROuVyGVQMh4f61rF2MTLjDVN+tFGn20kq66J+kTZu/q83X8oJ6i4I9MCl3psbB5ByQfIwtZcHDHc2ngQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.min.js"
    integrity="sha512-weR7bvGXJfva32VeU/U83K9InzRIclro6ykTQf0maP5mIjPmakWFKCZf9ovb73luVCt1acX0iE3F0YmRoLggvA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/mode-yaml.js"
    integrity="sha512-jVejqbXGN9X5zwhrp+rKAumXJNGIHIn07x9ESMnXeQ8DtTpi6KuTKqNj9uHRg9GRsYu6UrgNHiyvVmj/3WdUfA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="res/js/dld4e-connections.js"></script>
  <script type="text/javascript" src="res/js/dld4e-draw.js"></script>
  <script type="text/javascript" src="res/js/dld4e-gridlines.js"></script>
  <script type="text/javascript" src="res/js/dld4e-groups.js"></script>
  <script type="text/javascript" src="res/js/dld4e-icons.js"></script>
  <script type="text/javascript" src="res/js/dld4e-title.js"></script>
  <script type="text/javascript" src="res/js/dld4e-notes.js"></script>
  <script type="text/javascript" src="res/js/dld4e-process.js"></script>
  <script type="text/javascript" src="res/js/app.js"></script>
  <script type="text/javascript" src="res/js/saveSvgAsPng.js"></script>

</head>

<body ng-app="dld4e" ng-controller="mainController">
  <uib-alert class="col-sm-6 col-sm-offset-3" ng-repeat="alert in alerts" type="{{alert.type}}"
    close="closeAlert($index)">
    <span ng-bind-html="alert.msg"></span>
  </uib-alert>
  <div class="row">
    <div class="col-sm-6" id="leftSide">
      <div class="row no-gutters">
        <div class="col-sm-11 container-fluid">
          <button id="save" class="btn btn-black btn-sm" ng-click="save()">
            <span ng-class="saveIcon" aria-hidden="true"></span> <span ng-bind="state"></span>
          </button>
          <button id="fork" class="btn btn-black btn-sm" ng-click="fork()">
            <span class="fa fa-code-fork" aria-hidden="true"></span> Fork
          </button>
          <button id="download" class="btn btn-black btn-sm" ng-click="saveFile()">
            <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Download
          </button>
          <button id="link" class="btn btn-black btn-sm" ng-click="link()">
            <span class="fa fa-clipboard" aria-hidden="true"></span><span ng-bind="linkText">Link</span>
          </button>
          <form class="form-inline">
            <div class="input-group">
              <input type="text" size="35" class="form-control input-sm" ng-model="gistURL"
                placeholder="Load from Github Gist">
              <span class="input-group-btn">
                <button class="btn btn-black btn-sm" type="submit" ng-click="gist()">
                  <span class="fa fa-cloud-download"></span>
                </button>
              </span>
            </div>
          </form>
        </div>
        <div class="col-sm-1">
          <button id="draw" class="btn btn-black btn-sm pull-right" ng-click="drawClick(value)"
            uib-tooltip="hint: press ctrl-enter to refresh the drawing" tooltip-placement="bottom"
            tooltip-append-to-body="true">
            <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span> Draw
          </button>
        </div>
      </div>
      <div class="row">
        <div ui-ace="aceyamlOptions" ng-model="acedata"></div>
      </div>
    </div>
    <div class="col-sm-6" id="rightSide">
      <div class="row pull-right">
        <button id="saveimage" type="button" class="btn btn-black btn-sm" ng-click="saveImage()"
          uib-tooltip="Save SVG as Image" tooltip-placement="bottom" tooltip-append-to-body="true">
          <span class="glyphicon glyphicon glyphicon-floppy-save" aria-hidden="true"></span> PNG
        </button>
        <div class="btn-group" uib-dropdown is-open="status.isopen1" ng-show="shown">
          <button id="examples" type="button" class="btn btn-black btn-sm" uib-dropdown-toggle ng-disabled="disabled">
            Examples<span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="examples">
            <li role="menuitem" ng-click="example('coffee.yaml')"><a href="javascript:void(0);">Coffee Colors</a></li>
            <li role="menuitem" ng-click="example('curves.yaml')"><a href="javascript:void(0);">Curves</a></li>
            <li role="menuitem" ng-click="example('groups.yaml')"><a href="javascript:void(0);">Groups</a></li>
            <li role="menuitem" ng-click="example('group connections.yaml')"><a href="javascript:void(0);">Group
                connections</a></li>
            <li role="menuitem" ng-click="example('labels.yaml')"><a href="javascript:void(0);">Labels</a></li>
            <li role="menuitem" ng-click="example('mouseover.yaml')"><a href="javascript:void(0);">Mouseover
                Metadata</a></li>
            <li role="menuitem" ng-click="example('notes.yaml')"><a href="javascript:void(0);">Notes</a></li>
            <li role="menuitem" ng-click="example('NTP.yaml')"><a href="javascript:void(0);">NTP</a></li>
            <li role="menuitem" ng-click="example('relative positions.yaml')"><a href="javascript:void(0);">Relative
                positions</a></li>
            <li role="menuitem" ng-click="example('sample.yaml')"><a href="javascript:void(0);">Sample</a></li>
            <li role="menuitem" ng-click="example('text locations.yaml')"><a href="javascript:void(0);">Text
                locations</a></li>
            <li role="menuitem" ng-click="example('urls.yaml')"><a href="javascript:void(0);">URLs for icons</a></li>
          </ul>
        </div>
        <div class="btn-group" uib-dropdown is-open="status.isopen2" ng-show="shown">
          <button id="foo" type="button" class="btn btn-black btn-sm" uib-dropdown-toggle ng-disabled="disabled">
            Icons<span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="icons" id="icons">
          </ul>
        </div>
        <a href="http://github.com/cidrblock/network_diagram" target="_blank" class="btn btn-black btn-sm">
          <span class="fa fa-github"></span> Github
        </a>
        <button id="fullScreen" class="btn btn-black btn-sm" ng-click="fullScreen()">
          <span class="fa fa-pencil-square-o" aria-hidden="true"></span><span ng-bind="mode"></span>
        </button>
      </div>
      <div class="row">
        <div class="drawing" id="svg"></div>
      </div>
    </div>
  </div>
  </div>
</body>

<script>

  $(function () {
    var Data = {};

    fetch("./res/icons/icons.json")
      .then(response => response.json())
      .then(function (res) {
        Object.keys(res).forEach(function (key) {
          $("#icons").append(`<li class="icon-family"><a href="#">${key}</a></li>`);
        });

        Data.Icons = res;
      });

    $("#icons").on("click", "li.icon-family", function (event) {
      event.preventDefault();

      let familyName = $(this).text();

      var win = window.open('about:blank', '_blank');


      var size = Data.Icons[familyName].length
      var bestFit = Math.ceil(Math.sqrt(size))

      fetch('./res/icons/contactSheet.yaml')
        .then(response => response.text())
        .then(function (res) {
          var doc = jsyaml.load(res);
          //let width = 25;

          let ratio = 1/2;

          let height = Math.ceil(Math.sqrt(Data.Icons[familyName].length * ratio));
          let width = Math.ceil(height / ratio);
                  
          doc.diagram.rows = height;
          doc.diagram.columns = Math.ceil(Data.Icons[familyName].length / height);

          let screenRatio = window.innerWidth / window.innerHeight;          

          //doc.diagram.aspectRatio = `${window.innerWidth}:${Math.max(window.innerHeight, doc.diagram.rows * 40)}`;
          doc.diagram.aspectRatio = `${window.innerWidth}:${window.innerHeight}`;

          doc.icon.iconFamily = familyName;

          var x = 0
          var y = doc.diagram.rows - 1
          doc.icons = {}
          for (var icon in Data.Icons[familyName]) {
            doc.icons[Data.Icons[familyName][icon]] = Object.assign({ x: x, y: y, icon: Data.Icons[familyName][icon] }, doc.icon)
            x += 1
            if (x == doc.diagram.columns) {
              x = 0
              y -= 1
            }
          }
          window.design = doc;
          win.location.href = 'fullscreen.html';
        });

    });
  });


  angular
    .module("dld4e", ['ui.bootstrap', 'ui.ace'])
    .controller("mainController", mainController)

  mainController.$inject = ["$scope", "$http", "$sce", "$log", "$window", "$location", "$timeout", "$animate"];

  function mainController($scope, $http, $sce, $log, $window, $location, $timeout, $animate) {
    var w = angular.element($window);

    w.bind('resize', function () {
      $scope.drawClick()
    });
    $scope.mode = " Hide editor"
    $scope.shown = true
    $scope.design = "";
    $scope.gistURL = "";
    $scope.dbURL = "https://syg5y0qnyf.execute-api.us-west-2.amazonaws.com/prod/"
    $scope.saveIcon = "glyphicon glyphicon-floppy-disk"
    $scope.linkText = " Link"
    $scope.docId = $window.location.hash.substring(2)
    if ($scope.docId) {
      $scope.url = $scope.dbURL + $scope.docId
      $scope.state = "Update";
      var leftSide = angular.element(document.querySelector('#leftSide'));
      var rightSide = angular.element(document.querySelector('#rightSide'));
      $scope.shown = false
      $scope.mode = " Show editor"
      $animate.setClass(leftSide, 'ng-hide', 'ng-show').then(function () {
        $animate.setClass(rightSide, 'col-sm-12', 'col-sm-6').then(function () {
          $http.get($scope.url)
            .then(function (res) {
              $scope.acedata = res.data;
              $scope.drawClick()
            });
        })
      })
    } else {
      $scope.url = 'examples/NTP.yaml'
      $scope.state = "Save";
      $http.get($scope.url)
        .then(function (res) {
          $scope.acedata = res.data;
          $scope.drawClick()
        });
    }

    $scope.aceyamlOptions = {
      onLoad: function (_ace) {
        _ace.getSession().setMode("ace/mode/yaml");
        _ace.$blockScrolling = Infinity;
        _ace.commands.addCommand({
          name: 'saveFile',
          bindKey: {
            win: 'Ctrl-S',
            mac: 'Command-S',
            sender: 'editor|cli'
          },
          exec: function (env, args, request) {
            $scope.saveFile();
          }
        });
        _ace.setOption("tabSize", 2);
      }
    };
    $scope.opend3js = function (greeting) {
      $window.design = jsyaml.load($scope.acedata) || {};
      var w = $window.open("fullscreen.html");
    };
    $scope.drawIconFamily = function (iconFamily) {
      var wi = window.open('about:blank', '_blank');
      $http.get('res/icons/iconFamilies.json')
        .then(function (res) {
          var iconFamilies = res.data
          var bestFit = Math.ceil(Math.sqrt(size))
          var familyName = iconFamily.split('-')[0]
          var size = iconFamilies[familyName].length
          var url = "./templates/" + iconFamily + ".yaml"
          $http.get(url)
            .then(function (res) {
              var doc = jsyaml.load(res.data);
              var ratios = doc.diagram.aspectRatio.split(':')
              var h = ratios[0]
              var w = ratios[1]
              doc.diagram.rows = Math.ceil(Math.sqrt(size * w / h))
              doc.diagram.columns = Math.ceil(size / doc.diagram.rows)
              var x = 0
              var y = doc.diagram.rows - 1
              doc.icons = {}
              for (var icon in iconFamilies[familyName]) {
                doc.icons[iconFamilies[familyName][icon]] = Object.assign({ x: x, y: y, icon: iconFamilies[familyName][icon] }, doc.icon)
                x += 1
                if (x == doc.diagram.columns) {
                  x = 0
                  y -= 1
                }
              }
              $window.design = doc;
              wi.location.href = 'fullscreen.html';
            });
        });
    }
    $scope.example = function (file) {
      $http.get("examples/" + file)
        .then(function (res) {
          $scope.acedata = res.data;
          $window.location.hash = ""
          $scope.state = "Save"
          $scope.drawClick();
        });
    }

    $scope.drawClick = function () {
      $window.design = jsyaml.load($scope.acedata) || {};
      draw($window.design);
      $window.document.title = 'drawthe.net: ' + window.design.title.text
    }


    $scope.gist = function () {
      var parts = $scope.gistURL.split('/')
      var githubUser = parts[3]
      var githubGist = parts[4]
      $http.get('//gist.githubusercontent.com/' + githubUser + '/' + githubGist + '/raw')
        .then(function (res) {
          $scope.acedata = res.data;
          $scope.drawClick()
        })
      $scope.gistURL = ""
      $window.location.hash = ""
      $scope.state = "Save"
    }

    $scope.link = function () {
      copyToClipboard($location.absUrl())
      $scope.linkText = " Copied to clipboard"
      $timeout(function () {
        $scope.linkText = "Link"
      }, 200);
    }

    $scope.fork = function () {
      $scope.state = "Save"
      $scope.save()
    }

    $scope.fullScreen = function () {
      var leftSide = angular.element(document.querySelector('#leftSide'));
      var rightSide = angular.element(document.querySelector('#rightSide'));

      if ($scope.shown) {
        $scope.shown = false
        $scope.mode = " Show editor"
        $animate.setClass(leftSide, 'ng-hide', 'ng-show').then(function () {
          $animate.setClass(rightSide, 'col-sm-12', 'col-sm-6').then(function () {
            $scope.drawClick();
          })
        })
      } else {
        $scope.shown = true
        $scope.mode = " Hide editor"
        $animate.setClass(leftSide, 'ng-show', 'ng-hide').then(function () {
          $animate.setClass(rightSide, 'col-sm-6', 'col-sm-12').then(function () {
            $scope.drawClick();
          })
        })
      }
    }


    $scope.save = function () {
      if ($scope.state == "Save") {
        $scope.saveIcon = "glyphicon glyphicon-hourglass"
        var data = $scope.acedata;
        var config = {
          headers: {
            'Content-Type': 'text/x-yaml'
          }
        }
        $http.post($scope.dbURL, data, config)
          .then(
            function (response) {
              $scope.docId = response.data.docId
              $window.location.hash = response.data.docId
              $scope.saveIcon = "glyphicon glyphicon-ok-circle"
              $timeout(function () {
                $scope.saveIcon = "glyphicon glyphicon-floppy-disk";
                $scope.state = "Update";
              }, 200);
            },
            function (response) {
              $scope.saveIcon = "glyphicon glyphicon-alert";
              console.log(response)
            }
          );
      } else if ($scope.state == "Update") {
        $scope.saveIcon = "glyphicon glyphicon-hourglass"
        var url = $scope.dbURL + $scope.docId;
        var data = $scope.acedata;
        var config = {
          headers: {
            'Content-Type': 'text/x-yaml'
          }
        }
        $http.put(url, data, config)
          .then(
            function (response) {
              $window.location.hash = response.data.docId
              $scope.saveIcon = "glyphicon glyphicon-ok-circle"
              $timeout(function () {
                $scope.saveIcon = "glyphicon glyphicon-floppy-disk"
              }, 200);

            },
            function (response) {
              $scope.saveIcon = "glyphicon glyphicon-alert";
              console.log(response)
            }
          );
      }
    }
    $scope.saveFile = function () {
      var data = $scope.acedata,
        blob = new Blob([data], { type: 'text/plain' }),
        url = $window.URL || $window.webkitURL;
      design = jsyaml.load(data) || {};
      fileName = `${design.title.text || 'dld4e'}-v${design.title.version || '1.01'}.yaml`
      url = url.createObjectURL(blob); //do
      var downloadLink = document.createElement("a");
      downloadLink.href = url;
      downloadLink.download = fileName;
      document.body.appendChild(downloadLink);
      downloadLink.click();
      document.body.removeChild(downloadLink);
    }

    $scope.saveImage = function () {
      saveSvgAsPng(
        document.querySelector('svg'),
        design.title.text + '.png',
        { scale: 4, backgroundColor: 'white' }
      );
    }

  };


</script>

</html>